*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #fffbfb;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}
li {
    list-style: none;

}
a{
    text-decoration: none;
    color: black;
}
.logo{
    display: flex;
    height: 70px;
    flex: 0.75;
    position: relative;
    background-color: transparent;
}
/*header*/
header {
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    height: 70px;
    align-items: center;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.3);
}
header.sticky{
    background: rgba(255, 255, 255, 1);
}
header:hover{
    background: rgba(255, 255, 255, 1);
}
.menu{
    flex: 3;
    display: flex;
    color: #191818;
}
.menu > li {
    padding: 0 12px;
    
}
.menu > li a{
    font-size: 13px;
    font-weight: bold;
}
.other{
    flex: 1;
    display: flex;
}
.other > li {
    padding: 0 12px;
}
.other > li:first-child{
    position: relative;
}
.other > li:first-child input{
    width: 100%;
    border:none;
    border-bottom: 1px solid #191818;
    background: transparent;
    outline: none;
}

.other > li:first-child i{
    position: absolute;
    right: 10px;
}
/*slide*/
#Slider{
    padding-bottom: 30px;
    border-bottom: 2px solid black;
    overflow: hidden;
}
.aspect-ratio-169 {
    display: block;
    position: relative;
    padding-top: 56.25%;
    transition: 1s;
}
  
.aspect-ratio-169 img {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.dot-container{
    position: absolute;
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.dot{
    height: 16px;
    width: 16px;
    background-color: #ccc;
    border-radius: 50%;
    margin: 10px 5px;
    cursor: pointer;
}
.dot.active{
    background-color: #333;
}
/*------app-------*/
.app-container{
    text-align: center;
    align-items: center;
    padding: 150px 0 50px 0;
}
.app img{
    height: 50px;
    margin: 3px;
}
.app-container p{
    line-height: 20px;
    letter-spacing: 1px;
    font-size: 17px;
    color: black;
    font-weight: bold;
}
.app-container input{
    margin-top: 50px;
    border: none;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    text-align: center;
    width: 400px;
    outline: none;
}
/*--------footer--------*/
footer{
    text-align: center;
}
.footer-top{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    height: 70px;
}
.footer-top li{
    padding: 0 12px;
    position: relative;
}
.footer-top li::after{
    content: "";
    display: block;
    width: 1px;
    height: 80%;
    background: #cccccc;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    right: 0;
}
.footer-center{
    text-align: center;
}
.footer-bottom{
    text-align: center;
    margin: 20px 0;
}